<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<clear/>
		<add key="ISNet.WebUI.WebTreeView.v1_0_1500.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.WebTextEditor.v2_0_1000.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.WebAqua.v2_0_1000.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.WebCombo.v6_0_7200.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.WebDesktop.v4_0_7200.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.WebEssentials.v3_0_1000.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.WebGrid.v8_0_7200.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.WebInput.v4_0_7200.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.WebScheduler.v4_0_1000.XmlCompressionEnabled" value="true"/>
		<add key="ISNet.WebUI.ISRes_Registered" value="true"/>
		<add key="ISNet.WebUI.WebTreeView.v1_0_1500.RunTimeLicenseKey" value="62W1B-YF8W-4B7G8"/>
		<add key="ISNet.WebUI.WebTextEditor.v2_0_1000.RunTimeLicenseKey" value="C8F16-H72J-J6UWA"/>
		<add key="ISNet.WebUI.WebScheduler.v4_0_1000.RunTimeLicenseKey" value="2W1D4-3MHL-TEHCY"/>
		<add key="ISNet.WebUI.WebInput.v4_0_7200.RunTimeLicenseKey" value="JVL3I-5W4D-VSTZI"/>
		<add key="ISNet.WebUI.WebGrid.v10_0_7200.RunTimeLicenseKey" value="BO3D8-GAD0-2HDYC"/>
		<add key="ISNet.WebUI.WebEssentials.v3_0_1000.RunTimeLicenseKey" value="F10CE-3ID8-EKTMX"/>
		<add key="ISNet.WebUI.WebDesktop.v4_0_7200.RunTimeLicenseKey" value="QH67T-CP28-J8UFL"/>
		<add key="ISNet.WebUI.WebCombo.v6_0_7200.RunTimeLicenseKey" value="R4CIV-83QB-QNPEA"/>
		<add key="ISNet.WebUI.WebAqua.v2_0_1000.RunTimeLicenseKey" value="AOGD6-UJC3-GYJZL"/>
		<add key="ISNet.WebUI.ISDataSource.v1_0_1500.RunTimeLicenseKey" value="182BG-380I-3AHY8"/>

	</appSettings>
	<system.web>
		<httpHandlers>
			<add path="ISRes.axd" verb="GET" type="ISNet.WebUI.WebResourceHandler, ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=b1f2a8511635667a"
			 validate="true" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.8" >
			<assemblies>
				<add assembly="ISNet, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A" />
				<add assembly="ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A" />
			</assemblies>
		</compilation>


		<httpRuntime targetFramework="4.8" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<add name="ISChart.axd_GET, POST" path="ISChart.axd" verb="GET, POST" type="ISNet.WebUI.WebGrid.Chart.ChartRequestHandler, ISNet.WebUI.WebGrid" preCondition="integratedMode" />
			<add name="ISRes.axd_GET" path="ISRes.axd" verb="GET" type="ISNet.WebUI.WebResourceHandler, ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=b1f2a8511635667a" preCondition="integratedMode" />
			<add name="WebFileUploaderHttpHandler.axd_GET" path="WebFileUploaderHttpHandler.axd" verb="GET" type="ISNet.WebUI.WebTextEditor.WebFileUploaderHttpHandler, ISNet.WebUI.WebTextEditor" preCondition="integratedMode" />
			<add name="ISScheduler.axd_GET" path="ISScheduler.axd" verb="GET" type="ISNet.WebUI.WebScheduler.WebSchedulerRequestHandler, ISNet.WebUI.WebScheduler" preCondition="integratedMode" />
			<add name="IntersoftResource" path="ISRes.axd" verb="GET" preCondition="integratedMode" type="ISNet.WebUI.WebResourceHandler, ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=b1f2a8511635667a" />
		</handlers>
		<modules>
			<add name="WebFileUploaderHttpModule_GET" preCondition="managedHandler" type="ISNet.WebUI.WebTextEditor.WebFileUploaderHttpModule, ISNet.WebUI.WebTextEditor" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>